---
// Add any server-side logic here if needed
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Blog</title>

    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <nav class="flex justify-between p-8 border-b-2 border-grey">
      <a href="/blog"
        ><img src="Logo.png" alt="potential logo" class="w-8 h-8" /></a
      >

      <div class="flex gap-5">
        <button class="font-CentraNo2-Book"
          ><a href="/blog">Blog Posts</a></button
        >
        <button class="font-CentraNo2-Book text-blue-600">
          <a href="/newpost"> New Post</a></button
        >

        <button class="font-CentraNo2-Book">
          <a href="/account">My Account</a>
        </button>
      </div>
    </nav>

    <form id="post-form" class="max-w-[700px] mx-auto flex flex-col mt-20">
      <div class="flex justify-between">
        <p class="font-RecklessNeueRegular text-3xl">Create New Post</p>
        <button
          id="publish-btn"
          type="submit"
          class="font-CentraNo2-Book bg-black text-white p-3 rounded-md"
          >Publish Post</button
        >
      </div>

      <p id="error"></p>

      <div class="border-2 border-grey rounded-md p-5 mt-5">
        <label for="post-tag" class="font-CentraNo2-Book">
          Add Tags
          <input
            name=""
            id="post-tag"
            class="w-full my-3 p-3 bg-slate-100 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-800"
            placeholder="Use a comma to separate tags"
            required
          /></label
        >
        <label for="post-heading" class="font-CentraNo2-Book">
          Add Heading
          <input
            name=""
            id="post-heading"
            class="w-full my-3 p-3 bg-slate-100 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-800"
            placeholder=""
            required
          /></label
        >

        <label for="post-image" class="font-CentraNo2-Book">
          Add Hero Image
          <input
            name=""
            id="post-image"
            type="file"
            accept="image/*"
            class="w-full my-3 p-3 bg-slate-100 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-800"
            required
          /></label
        >

        <label for="post-author" class="font-CentraNo2-Book">
          Add Author
          <input
            name=""
            id="post-author"
            class="w-full my-3 p-3 bg-slate-100 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-800"
            placeholder=""
            required
          /></label
        >

        <label for="post-body" class="font-CentraNo2-Book">
          Body Text
          <textarea
            name=""
            id="post-body"
            class="w-full my-3 p-3 bg-slate-100 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 text-gray-800"
            placeholder=""
            required></textarea>
        </label>
      </div>
    </form>

    <script type="module" src="/scripts/blog.js" is:inline></script>
  </body>
</html>
