---
// Add any server-side logic here if needed
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Astro Page</title>

	<link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <nav class="flex justify-between p-8">
    <img src="Logo.png" alt="potential logo" class="w-8 h-8">

    <div class="flex gap-5">
        <button class="font-CentraNo2-Book"> <a href="/newpost"> New Post</a></button>
        <button class="font-CentraNo2-Book text-blue-600"><a href="/blog">Blog Posts</a></button>
        <button class="font-CentraNo2-Book"> <a href="/account">My Account</a> </button>
    </div>
  </nav>

  <div class="w-full h-[150px] bg-yellow-200 flex justify-center items-center">
    <p class="text-8xl font-RecklessNeueRegular text-center">Our blog</p>
  </div>

  <div class="flex">
    <div class="w-[50%]">
        <img src="nature.jpg" alt="image of nature" class="object-cover w-full h-full">
    </div>

    <div class="p-20 bg-[#FAF8F1] w-[50%]">
        <div class="flex gap-1">
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">SET JETTING</p>
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">THAILAND</p>
        </div>

        <div class="mt-20 w-[70%]">
            <p class="font-RecklessNeueThin text-5xl">The White Lotus effect: Thailand's turn in the spotlight</p>
            <p class="font-CentraNo2-Light text-[12px] mt-4">DECEMBER 2024</p>
        </div>

        <div class="mt-12 w-[70%]">
            <p class="font-CentraNo2-Light">Wherever HBO’s hit dark comedy goes, set-jetting travelers are sure to follow. Ready for its return in February, we reveal all you need to know about its filming locations and more</p>
            <button class="font-CentraNo2-Book mt-2"> <a href="/blogpage1"> Read more</a> </button>
        </div>
    </div>
  </div>

  <div class="flex">
    

    <div class="p-20 bg-[#1A1E39] w-[50%]">
        <div class="flex gap-1">
            <p class="bg-white text-black rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">SET JETTING</p>
            <p class="bg-white text-black rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">THAILAND</p>
        </div>

        <div class="mt-20 w-[70%]">
            <p class="font-RecklessNeueThin text-5xl text-white">The White Lotus effect: Thailand's turn in the spotlight</p>
            <p class="font-CentraNo2-Light text-[12px] mt-4 text-white">NOVEMBER 2024</p>
        </div>

        <div class="mt-12 w-[70%]">
            <p class="font-CentraNo2-Light text-white">Wherever HBO’s hit dark comedy goes, set-jetting travelers are sure to follow. Ready for its return in February, we reveal all you need to know about its filming locations and more</p>
            <button class="font-CentraNo2-Book mt-2 text-white">Read more</button>
        </div>
    </div>

    <div class="w-[50%]">
        <img src="nature.jpg" alt="image of nature" class="object-cover w-full h-full">
    </div>

  </div>

  <div class="flex">
    <div class="w-[50%]">
        <img src="nature.jpg" alt="image of nature" class="object-cover w-full h-full">
    </div>

    <div class="p-20 bg-[#FAF8F1] w-[50%]">
        <div class="flex gap-1">
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">SET JETTING</p>
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">THAILAND</p>
        </div>

        <div class="mt-20 w-[70%]">
            <p class="font-RecklessNeueThin text-5xl">The White Lotus effect: Thailand's turn in the spotlight</p>
            <p class="font-CentraNo2-Light text-[12px] mt-4">DECEMBER 2024</p>
        </div>

        <div class="mt-12 w-[70%]">
            <p class="font-CentraNo2-Light">Wherever HBO’s hit dark comedy goes, set-jetting travelers are sure to follow. Ready for its return in February, we reveal all you need to know about its filming locations and more</p>
            <button class="font-CentraNo2-Book mt-2">Read more</button>
        </div>
    </div>
  </div>

  <div class="flex">
    

    <div class="p-20 bg-[#1A1E39] w-[50%]">
        <div class="flex gap-1">
            <p class="bg-white text-black rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">SET JETTING</p>
            <p class="bg-white text-black rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">THAILAND</p>
        </div>

        <div class="mt-20 w-[70%]">
            <p class="font-RecklessNeueThin text-5xl text-white">The White Lotus effect: Thailand's turn in the spotlight</p>
            <p class="font-CentraNo2-Light text-[12px] mt-4 text-white">NOVEMBER 2024</p>
        </div>

        <div class="mt-12 w-[70%]">
            <p class="font-CentraNo2-Light text-white">Wherever HBO’s hit dark comedy goes, set-jetting travelers are sure to follow. Ready for its return in February, we reveal all you need to know about its filming locations and more</p>
            <button class="font-CentraNo2-Book mt-2 text-white">Read more</button>
        </div>
    </div>

    <div class="w-[50%]">
        <img src="nature.jpg" alt="image of nature" class="object-cover w-full h-full">
    </div>

  </div>

  <div class="flex">
    <div class="w-[50%]">
        <img src="nature.jpg" alt="image of nature" class="object-cover w-full h-full">
    </div>

    <div class="p-20 bg-[#FAF8F1] w-[50%]">
        <div class="flex gap-1">
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">SET JETTING</p>
            <p class="bg-black text-white rounded-2xl px-5 py-1 flex justify-center font-CentraNo2-Light text-[12px]">THAILAND</p>
        </div>

        <div class="mt-20 w-[70%]">
            <p class="font-RecklessNeueThin text-5xl">The White Lotus effect: Thailand's turn in the spotlight</p>
            <p class="font-CentraNo2-Light text-[12px] mt-4">DECEMBER 2024</p>
        </div>

        <div class="mt-12 w-[70%]">
            <p class="font-CentraNo2-Light">Wherever HBO’s hit dark comedy goes, set-jetting travelers are sure to follow. Ready for its return in February, we reveal all you need to know about its filming locations and more</p>
            <button class="font-CentraNo2-Book mt-2">Read more</button>
        </div>
    </div>
  </div>

  
  


</body>
</html>

